body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

.hh {
    padding-top: 50px;
    height: 500px;
}

.page {
    background-image: url(Images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

.header {
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: 0px;
}

.paragraph1 {
    text-align: center;
    color: white;
    font-size: 16px;
    padding-top: 100px;
}

.div2 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.button1 {
    height: 40px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, red);
    border-radius: 10px;
    padding-top: 15px;
}

.monkey {
    text-align: center;
    padding-top: 50px;
}

.tk {
    display: flex;
    text-align: center;
}

.money {
    padding-top: 80px;
    padding-left: 10%;
}

.money1 {
    padding-top: 80px;
    padding-left: 20%;
}

.money5 {
    padding-top: 80px;
    padding-right: 15%;
    padding-left: 10%;
    color: red;
}

.mark {
    text-align: center;
    padding-top: 50px;
}

.harder {
    display: flex;
    padding-top: 80px;
}

.food {
    padding-left: 20%;
}

.many {
    padding-left: 10%;
    padding-right: 10%;
}

.lot {
    padding-right: 20%;
}